.personInformation_info{
    margin: 15px 0px 0px 0px;

}
.person{
    margin: 126px 0px 73px 195px;
    color: white;
    display: flex;
    gap: 212px;
}

.name{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding: 0px 0px 50px 0px;
}
.parameter{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    max-width: 100px;
    color: rgba(255, 255, 255, 0.7);
}
.answer{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.personInformation_info{
    display: flex;
    gap: 80px;
}
.parameters, .answers{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.img{
    width: 167px;
    height: 168px;
    border-radius: 50%;
}