.wrapper__container{
  background-color: rgb(223, 219, 220);
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #171719;
  color: white;
  min-height: 100vh;
}

.wait{
  font-size: 50px;
  color: black;
  padding: 100px 0px 0px 0px;
}
